@use '@/styles/variables' as *;

.sidebar {
	width: 250px;
	flex-shrink: 0;
	background: #f5f5f5;
	border-left: 1px solid $color-border;
	display: flex;
	flex-direction: column;
	padding: 25px 20px;
	box-shadow: 1px 1px 4px #0000007f;
	gap: 17px;
}

.categorySection {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.categoryLabel {
	font-size: 13px;
	font-weight: 500;
	color: $color-text-primary;
}

.shapesCount {
	font-size: 13px;
	color: $color-text-muted;
	text-align: center;
}
