@use '@/styles/variables' as *;

.input {
	padding: 10px 14px;
	border: 1.5px solid $color-border;
	border-radius: 10px;
	font-size: 14px;
	font-family: inherit;
	color: $color-text-primary;
	outline: none;
	transition: border-color 0.15s;
	background: transparent;

	&:focus {
		border-color: $color-primary;
	}

	&::placeholder {
		color: $color-text-muted;
	}
}
